[submodule "creditMainServ"]
	path = creditMainServ
	url = https://github.com/creditx-platform/creditMainServ.git
[submodule "creditHoldServ"]
	path = creditHoldServ
	url = https://github.com/creditx-platform/creditHoldServ.git
[submodule "creditPostingServ"]
	path = creditPostingServ
	url = https://github.com/creditx-platform/creditPostingServ.git
[submodule "creditPromoServ"]
	path = creditPromoServ
	url = https://github.com/creditx-platform/creditPromoServ.git
